body {
    background-color: rgb(160, 45, 50);
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
}

.container {
    padding: 10px;
    margin: 20px;
}

main {
    margin-top: 30px;
}

header {
    margin: 20px;
}

section {
    padding: 5%;
}

.textBackground {
    color: white;
    text-align: center;
}

.textBackground p {
    padding: 20px 0;
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tiles div {
    margin-bottom: 15px;
    width:100%;
    /* transition: all .8s ease-in-out .2s; */
}

.skills div {
    padding: 20px;
}

img {
    width: 100%;
    transition: all .8s ease-in-out .2s;
}