body {
    background-color: rgb(160, 45, 50);
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
}

.container {
    padding: 10px;
    margin: 20px;
}

main {
    margin-top: 30px;
}

header {
    margin: 20px;
}

.textBackground {
    color: white;
    text-align: center;
}

.textBackground p {
    padding: 20px 0;
}

.border {
    border-top: rgb(220, 220, 220) 2px solid;
    margin: 0 15%;
    transform: scaleX(0);
}

.tiles {
    padding: 5%;
    margin-bottom: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tiles div {
    margin-bottom: 15px;
    width:100%;
    /* transition: all .8s ease-in-out .2s; */
}

.tiles div img:hover {
    transform: scale(1.1);
    filter: contrast(35%);
    overflow: hidden;
    /* figcaption{ */
        /* display: contents; */
    /* } */
}

.skills {
    margin-top: 15px;
}

.skills div {
    padding: 20px;
}

.lessMarginTop {
    margin-top: -10px;
}

img {
    width: 100%;
    transition: all .2s ease-in-out .1s;
}

figure {
    position: relative;
    width: 100%;
}

figcaption {
    display: none;
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 6vw;
    font-weight: 800;
    opacity: 0
}

/* figcaption:hover {
    opacity: 1;
    transform: scale(0.5);
} */