@media only screen and (min-width: 375px){
    
    .tiles div {
        width: 48%;
        transition: all .4s ease;        
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        transition: all .4s ease;
    }
    .titles {
        font-size: 120%;
        transition: all .4s ease;
    }
    /* figure:hover figcaption {
        top: 99%; */
}

@media only screen and (min-width: 600px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
        transition: all .4s ease;
    }
    .titles {
        font-size: 170%;
        transition: all .4s ease;
    }
    figcaption {
        font-size: 16px;
    }
}

@media only screen and (min-width: 800px){

    .tiles div {
        width: 24%;
        /* margin: 20px; */
        transition: all .4s ease;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        transition: all .4s ease;
    }
    .titles {
        font-size: 135%;
        width: 90%;
        transition: all .4s ease;
    }
    figcaption {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1000px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
        transition: all .4s ease;
    }
    figcaption {
        font-size: 100%;
    }
}