@media only screen and (min-width: 375px){
    
    .tiles div {
        width: 48%;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .titles {
        font-size: 115%;
    }
    figure:hover figcaption ul {
        height: 65px;
        font-size: 8px;
    }
    figure:hover figcaption p {
        height: 100px;
        font-size: 9px;
    }
    .contact {
        margin-top: 25px;
    }
    .contact picture {
        height: 130px;
    }
    .hand {
        width: 100px;        
        animation: wave 9s ease 6s infinite;
    }
    @keyframes wave {
        0% {
            transform: translate(0, 0);
            width: 100px;
        }
        30% {
            transform: translate(0, 0);
            width: 100px;
        }
        35% {
            transform: translate(0, -10px);
            width: 120px;
        }
        40% {
            transform: rotate(0deg) translate(0, -10px);
        }
        45% {
            transform: rotate(30deg) translate(10px, -14px);
        }
        50% {
            transform: rotate(0deg) translate(0, -10px);
        }
        55% {
            transform: rotate(30deg) translate(10px, -14px);
        }
        60% {
            transform: rotate(0deg) translate(0, -10px);      
        }
        65% {
            transform: translate(0, -10px);
            width: 120px;
        }
        70% {
            transform: translate(0, 0);
            width: 100px;
        }
        100% {
            transform: translate(0, 0);
            width: 100px;
        }
    }
}

@media only screen and (min-width: 600px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .titles {
        font-size: 155%;
        padding: 10% 5%;
    }
    figcaption {
        font-size: 16px;
    }
    figure:hover figcaption ul {    
        height: 95px;
        font-size: 12px;
    }
    figure:hover figcaption p {
        height: 110px;
        font-size: 12px;
    }
    .contact {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 800px){

    .tiles div {
        width: 24%;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .titles {
        font-size: 130%;
        padding: 5% 5%;
        width: 90%;
    }
    figcaption {
        font-size: 13px;
    }
    figure:hover figcaption ul {    
        height: 90px;
        font-size: 10px;
    }
    figure:hover figcaption p {
        height: 105px;
        font-size: 10px;
    }
    .contact {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1000px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .titles {
        font-size: 130%;
        padding: 10% 5%;
    }
    figcaption {
        font-size: 100%;
    }
    figure:hover figcaption ul {    
        font-size: 11px;
    }
    figure:hover figcaption p {
        font-size: 11px;
    }
    .contact {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1400px) {

    .titles {
        font-size: 185%;
    }
    figure:hover figcaption ul {    
        height: 130px;
        font-size: 16px;
    }
    figure:hover figcaption p {
        height: 145px;
        font-size: 16px;
    }
}