@media only screen and (min-width: 375px){
    
    .tiles div {
        width: 48%;
        /* transition: all .4s ease;         */
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        /* transition: all .4s ease; */
    }
    .titles {
        font-size: 115%;
        /* transition: all .4s ease; */
    }
    /* figcaption ul {
        
    } */
    figure:hover figcaption ul {
        height: 65px;
        font-size: 8px;
    }
    figure:hover figcaption p {
        height: 100px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 600px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
        /* transition: all .4s ease; */
    }
    .titles {
        font-size: 155%;
        padding: 10% 5%;
        /* transition: all .4s ease; */
    }
    figcaption {
        font-size: 16px;
    }
    figure:hover figcaption ul {    
        height: 95px;
        font-size: 12px;
    }
    figure:hover figcaption p {
        height: 110px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 800px){

    .tiles div {
        width: 24%;
        /* margin: 20px; */
        /* transition: all .4s ease; */
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        /* transition: all .4s ease; */
    }
    .titles {
        font-size: 130%;
        padding: 5% 5%;
        width: 90%;
        /* transition: all .4s ease; */
    }
    figcaption {
        font-size: 13px;
    }
    figure:hover figcaption ul {    
        height: 90px;
        font-size: 10px;
    }
    figure:hover figcaption p {
        height: 105px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1000px){

    .container {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
        /* transition: all .4s ease; */
    }
    .titles {
        font-size: 130%;
        padding: 10% 5%;
    }
    figcaption {
        font-size: 100%;
    }
    figure:hover figcaption ul {    
        font-size: 11px;
    }
    figure:hover figcaption p {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1400px) {

    .titles {
        font-size: 185%;
    }
    figure:hover figcaption ul {    
        height: 130px;
        font-size: 16px;
    }
    figure:hover figcaption p {
        height: 145px;
        font-size: 16px;
    }
}